body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
header{
    height: 80px;
    width: 100%;
    background-color: #ec362d;

    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-topo{
    width: 100%;
    height: 10%;
    background-color: blueviolet;
}
.img-topo img{
    width: 100%;
    height: 227px;
}
.questions{
    margin: 0 auto;
    margin-top: 42px;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 400px;
    background-color: #e01675d5;
}
.Pergunta{
    width: 90%;
    height: 60px;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d30ec;
}
.respostas{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.respostas spam{
    display: flex;
    flex-direction: column;
}
.respostas div{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 125px;
    margin-right: 25px;
    margin-top: 25px;
}
.resposta1{
    background-color: #ec362d;
}
.resposta2{
    background-color: #888383;
}
.resposta3{
    background-color: #2d30ec;
}
.resposta4{
    background-color: #cccf0b;
}

.ResultadoFinal{
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 42px;

    width: 50%;
    height: 380px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: violet;
}

.ResultadoFinal .ResultadoTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 40px;
    margin-top: 18px;
    background-color: #cccf0b;
}
.ResultadoFinal spam{
    display: flex;
    width: 90%;
    margin-top: 15px;
}
.ResultadoFinal img{
    margin-right: 20px;
    width: 400px;
    height: 280px; 
}
.ResultadoFinal h5{
font-weight: 700;
font-size: 19px;
line-height: 25px;

color: #484848;  
}